<li class="item-todo">
  <input
    class="check-complete"
    type="checkbox"
    [checked]="completed"
    (change)="handleComplete(id)"
  />
  <div class="todo" (dblclick)="onEdit()">
    <span class="text-todo" [class.completed]="completed" *ngIf="!isEdit">{{
      name
    }}</span>
    <div class="edit-todo" *ngIf="isEdit">
      <form (submit)="handleEdit(id, editTodo.value); isEdit = false">
        <input #editTodo type="text" [(ngModel)]="name" name="todo.name" />
      </form>
    </div>
  </div>
  <button type="button" (click)="deleteTodo(id)" class="btn-delete">x</button>
</li>
